<nav class="navbar navbar-expand-sm navbar-light header-navbar {{transparentBGClass}}"
  [ngClass]="{
      'navbar-static': config?.layout.navbar.type === 'Static',
      'navbar-sticky': config?.layout.navbar.type === 'Fixed'
    }">
  <div class="container-fluid">
    <button
      class="navbar-toggler menu-toggle d-xl-none d-block border-0"
      type="button"
      (click)="toggleSidebar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <button
      class="navbar-toggler d-none d-lg-block border-0"
      type="button"
      appToggleFullscreen
      (click)="ToggleClass()"
    >
      <i class=" {{toggleClass}} font-medium-3"></i>
    </button>

<!--        <li class="nav-item nav-search">-->
<!--          <a class="nav-link nav-link-search" id="navbar-search" href="javascript:" (click)="toggleSearchOpenClass(true)"><i-->
<!--              class="ft-search font-medium-3"></i></a>-->
<!--          <div class="search-input {{searchOpenClass}}">-->
<!--            <div class="search-input-icon">-->
<!--              <i class="ft-search font-medium-3"></i>-->
<!--            </div>-->
<!--            <input [formControl]="control" #search class="input" type="text" placeholder="Explore Apex..." tabindex="0"-->
<!--              autofocus data-search="template-search" [appAutocomplete]="autocomplete" (keyup.enter)="onEnter()" (keydown.esc)="onEscEvent()" (keyup)="onSearchKey($event)" />-->
<!--            <div class="search-input-close" (click)="toggleSearchOpenClass(false)">-->
<!--              <i class="ft-x font-medium-3"></i>-->
<!--            </div>-->

<!--            <app-autocomplete #autocomplete="appAutocomplete">-->
<!--              <ng-template appAutocompleteContent >-->
<!--                <ng-container *ngIf="(listItems | filter: control.value) as result">-->
<!--                  <app-option #searchResults *ngFor="let option of result" [url]="option.url" [value]="option.name" (click)="redirectTo(option.url);" (mouseenter)="removeActiveClass()"  >-->
<!--                    <div class="d-flex align-items-center justify-content-between w-100">-->
<!--                      <div class="d-flex align-items-center justify-content-start">-->
<!--                        <i class="{{option.icon}} me-2"></i>-->
<!--                        <span>{{ option.name }}</span>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </app-option>-->
<!--                  <app-option class="no-result" *ngIf="!result.length">No results found.</app-option>-->
<!--                </ng-container>-->
<!--              </ng-template>-->
<!--            </app-autocomplete>-->
<!--          </div>-->
<!--        </li>-->

<!--      </ul>-->
<!--    </div>-->

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="dropdown nav-item" placement="bottom-left" display="static" ngbDropdown >
<!--            <a class="nav-link dropdown-toggle dropdown-notification p-0 mt-2 me-2" id="drp-notification" href="javascript:;" data-toggle="dropdown" ngbDropdownToggle>-->
            <a class="nav-link dropdown-toggle dropdown-notification p-0 mt-2 me-2" id="drp-notification" href="javascript:;" data-toggle="dropdown">
              <i class="ft-bell font-medium-3"></i>
<!--              <span class="notification badge badge-pill badge-danger">4</span>-->
            </a>
            <ul ngbDropdownMenu
              class="notification-dropdown dropdown-menu dropdown-menu-media dropdown-menu-right m-0 overflow-hidden">
              <li class="dropdown-menu-header">
                <div class="dropdown-header d-flex justify-content-between m-0 px-3 py-2 white bg-primary">
                  <div class="d-flex">
                    <i class="ft-bell font-medium-3 d-flex align-items-center me-2"></i><span class="noti-title">7 New
                      Notification</span>
                  </div>
                  <span class="text-bold-400 cursor-pointer">Mark all as read</span>
                </div>
              </li>

              <li class="dropdown-menu-footer">
                <div class="noti-footer text-center cursor-pointer primary border-top text-bold-400 py-1">
                  Read All Notifications
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown nav-item me-1" placement="bottom-left" display="static" ngbDropdown >
            <a class="nav-link dropdown-toggle user-dropdown d-flex align-items-center" id="dropdownBasic2"
              href="javascript:;" data-toggle="dropdown" ngbDropdownToggle *ngIf="user">
              <div class="user d-md-flex d-none me-2">
                <span class="text-right">{{ user.firstName + ' ' + user.lastName }}</span>
              </div>
              <img class="avatar" src="assets/img/portrait/small/iam-100.jpg" alt="avatar" height="35" width="35" />
            </a>
            <div class="dropdown-menu text-left dropdown-menu-right m-0 pb-0" aria-labelledby="dropdownBasic2"
              ngbDropdownMenu>
              <a class="dropdown-item" href="javascript:;">
                <div class="d-flex align-items-center">
                  <i class="ft-message-square me-2"></i><span>Сообщения</span>
                </div>
              </a>
              <a class="dropdown-item" routerLink="/profile">
                <div class="d-flex align-items-center">
                  <i class="ft-edit me-2"></i><span>Мой профиль</span>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">
                <div class="d-flex align-items-center">
                  <i class="ft-power me-2"></i><span>Выход</span>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item d-none d-lg-block me-2 mt-1">
            <a class="nav-link notification-sidebar-toggle" (click)="toggleNotificationSidebar();"><i
                class="ft-align-right font-medium-3"></i></a>
          </li>
        </ul>
      </div>
  </div>
</nav>
