.alert-light-success {
  background-color: #d0fedc !important;
  color: #262626 !important;
  border-color: #6fd267;
}

.alert-light-danger {
  background-color: #FEEFD0 !important;
  color: #F55252  !important;
  border-color: #FEEFD0;
}
